<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gantt App</title>

    <!-- Enlaces CDN de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap 5.3.2: Hoja de estilos CSS de Bootstrap, proporciona estilos básicos y componentes visuales para la interfaz de usuario. -->

    <!-- Enlaces CDN de Frappe Gantt -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/frappe-gantt@0.6.1/dist/frappe-gantt.css">
    <!-- Frappe Gantt 0.6.1: Hoja de estilos CSS específica para la representación visual de gráficos de Gantt usando Frappe Gantt. Proporciona estilos para la apariencia de las tareas y el gráfico de Gantt. -->

    <!-- Script para cargar Moment.js versión 2.29.1 desde Cloudflare -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <!-- Moment.js 2.29.1: Biblioteca para manipulación y formateo de fechas en JavaScript. Puede ser utilizada para gestionar fechas y tiempos de manera eficiente en conjunción con otras bibliotecas, como Frappe Gantt. -->

    <!-- Script para cargar Frappé Gantt versión 0.6.1 desde jsDelivr -->
    <script src="https://cdn.jsdelivr.net/npm/frappe-gantt@0.6.1/dist/frappe-gantt.js"></script>
    <!-- Frappe Gantt 0.6.1: Biblioteca JavaScript para la representación y manipulación de gráficos de Gantt. Permite crear y gestionar visualmente diagramas de Gantt interactivos para mostrar la programación de tareas y proyectos en el tiempo. Utiliza Moment.js para el manejo de fechas. -->
    
</head>

<body class="container-fluid">
    <div class="row justify-content-center">
        <!-- Columna para el diagrama de Gantt -->
        <div class="col-md-9">
            <h1 class="mt-4">Proyectos y Tareas</h1>

            <!-- Formulario para crear un nuevo proyecto -->
            <form action="/proyectos" method="POST" class="mt-4">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="nombreProyecto">Nombre del Proyecto:</label>
                        <input type="text" id="nombreProyecto" name="nombre" class="form-control" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="fechaInicioProyecto">Fecha de Inicio:</label>
                        <input type="date" id="fechaInicioProyecto" name="fechaInicio" class="form-control" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="fechaFinProyecto">Fecha de Fin:</label>
                        <input type="date" id="fechaFinProyecto" name="fechaFin" class="form-control" required>
                    </div>
                    <div class="col-md-3 mb-3 align-self-end">
                        <button type="submit" class="btn btn-primary">Crear Proyecto</button>
                    </div>
                </div>
            </form>

            <!-- Formulario para modificar un proyecto -->
            <form action="/proyectos/actualizar" method="POST" class="mt-6">
                <div class="row">
                    <!-- Selecciona el proyecto a modificar -->
                    <div class="col-md-3 mb-3">
                        <label for="selectProyecto">Seleccionar Proyecto:</label>
                        <select id="selectProyecto" name="proyectoId" class="form-control" required>
                            <!-- Aquí debes iterar sobre tus proyectos y generar las opciones -->
                            <% proyectosFrappeGantt.forEach(proyecto => { %>
                                <option value="<%= proyecto.id %>"><%= proyecto.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- Modificar fecha de inicio -->
                    <div class="col-md-3 mb-3">
                        <label for="nuevaFechaInicio">Nueva Fecha de Inicio:</label>
                        <input type="date" id="nuevaFechaInicio" name="nuevaFechaInicio" class="form-control" required>
                    </div>
                    <!-- Modificar fecha de fin -->
                    <div class="col-md-3 mb-3">
                        <label for="nuevaFechaFin">Nueva Fecha de Fin:</label>
                        <input type="date" id="nuevaFechaFin" name="nuevaFechaFin" class="form-control" required>
                    </div>
                    <!-- Botón para enviar el formulario de modificación -->
                    <div class="col-md-3 mb-3 align-self-end">
                        <button type="submit" class="btn btn-primary">Modificar Proyecto</button>
                    </div>
                </div>
            </form>

            <div class="row mt-3 justify-content-center align-items-center">
                <!-- Formulario para cambiar la vista (30% de la fila) -->
                <form id="formCambiarVista" action="/proyectos/cambiar-vista" method="POST" class="col-md-3">
                    <% if (proyecto) { %>
                        <input type="hidden" name="proyectoId" id="proyectoId" value="<%= proyecto.id %>">
                    <% } %>
                    <div class="d-flex">
                        <button type="submit" name="nuevaVista" value="Year" class="btn btn-primary"
                            style="margin-right: 0.5rem;">Año</button>
                        <button type="submit" name="nuevaVista" value="Month" class="btn btn-primary"
                            style="margin-right: 0.5rem;">Mes</button>
                        <button type="submit" name="nuevaVista" value="Week" class="btn btn-primary"
                            style="margin-right: 0.5rem;">Semana</button>
                        <button type="submit" name="nuevaVista" value="Day" class="btn btn-primary">Día</button>
                    </div>
                </form>

                <!-- Formulario de cumplimiento (70% de la fila) -->
                <form id="formularioCumplimiento" action="/actualizar-cumplimiento" method="POST" class="col-md-9">
                    <div class="row align-items-end">
                        <div class="col-md-3 mb-3">
                            <label for="selectProyectoCumplimiento">Seleccionar Proyecto:</label>
                            <select id="selectProyectoCumplimiento" name="proyectoId" class="form-control" required>
                                <!-- Aquí debes iterar sobre tus proyectos y generar las opciones -->
                                <% proyectosFrappeGantt.forEach(proyecto => { %>
                                    <option value="<%= proyecto.id %>"><%= proyecto.name %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="progress">Avance (%):</label>
                            <input type="number" id="progress" name="progress" min="0" max="100" class="form-control"
                                required>
                        </div>
                        <div class="col-md-3 mb-3 align-self-end">
                            <button type="submit" class="btn btn-primary">Actualizar avance</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Contenedor para el diagrama de Gantt -->
            <div id="gantt" class="mt-4" style="height: 500px;"></div>
        </div>
    </div>

    <!-- Resto del contenido (script, enlaces, etc.) -->
    <div id="proyectos-data" data-proyectos='<%- JSON.stringify(proyectosFrappeGantt || []) %>'></div>

    <!-- Configuración y renderizado del diagrama de Gantt -->
    <script src="/js/scriptPrincipal.js"></script>
  
    <!-- Actualización de la vista del diagrama de Gantt -->
    <script src="/js/scriptActualizacionVista.js"></script>
  
    <!-- Actualización del cumplimiento -->
    <script src="/js/scriptCumplimiento.js"></script>
  

    <!-- Agrega el enlace al archivo JS de Bootstrap y a tus archivos JavaScript personalizados aquí -->
    <!-- Script para cargar jQuery versión 3.7.1 desde Code.jquery.com -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- jQuery versión 3.7.1: Biblioteca JavaScript para simplificar la manipulación del DOM.
        Utilizado para funciones JavaScript y manipulación del DOM en la aplicación. -->

    <!-- Script para cargar Bootstrap versión 5.3.2 desde jsDelivr -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>

